.container {
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;

  .icons {
    font-size: 3.5rem; /* Tamaño del icono */
    display: flex;
    margin-bottom: 10px;
    gap: 2rem;
  }
  .angular {
    color: rgb(226, 43, 43);
  }
  .js {
    color: rgb(225, 218, 12);
  }
  .html {
    color: rgb(225, 72, 12);
  }
  .css {
    color: rgb(12, 40, 225);
  }
  .bootstrap {
    color: rgb(101, 12, 225);
  }

  .node {
    color: rgb(32, 218, 12);
  }
  .gitkraken {
    color: rgb(10, 85, 7);
  }
  .docker {
    color: rgb(12, 143, 225);
  }
  .mysql {
     color: rgb(12, 143, 225);
      margin-top: -10px;
  }
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
}

.author {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 1px;

  & a {
    color: #027184;
  }
  & i {
    color: #027184;
  }
}

.iconos {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

/* Styles specific to mobile devices */
@media (max-width: 767px) {
  .container {
    .icons {
      font-size: 1.9rem;
      flex-wrap: wrap;
      gap: 0.2rem;
      margin: 0;
    }

    .author {
      font-size: 1rem;
    }

    .datos {
      font-size: 0.9rem;
    }
  }
}
