<div class="container pt-3 mb-3">
    <div class="card1 text-center m-0 mt-5 mb-5  p-0 pb-4">

        <div class="icon w-75">
            <i class="angular fab fa-angular" data-bs-toggle="tooltip" title="Angular"></i>
            <i class="html fab fa-html5" data-bs-toggle="tooltip" title="HTML5"></i>
            <i class="css fab fa-css3-alt" data-bs-toggle="tooltip" title="CSS3"></i>
            <i class="node fab fa-node" data-bs-toggle="tooltip" title="NodeJS"></i>
            <i class="js fab fa-js" data-bs-toggle="tooltip" title="JavaScript"></i>
            <i class="bi bi-filetype-sql text-primary" data-bs-toggle="tooltip" title="SQL"></i>
            <i class="bi bi-database text-success" data-bs-toggle="tooltip" title="MongoDB"></i>
            <i class="bi bi-cup-hot-fill text-danger" data-bs-toggle="tooltip" title="Java"></i>
            <i class="bi bi-file-code text-primary" data-bs-toggle="tooltip" title="PHP"></i>
            <i class="docker fab fa-docker" data-bs-toggle="tooltip" title="Docker"></i>
            <i class="bootstrap fab fa-bootstrap" data-bs-toggle="tooltip" title="Bootstrap"></i>
            <i class="bi bi-git" data-bs-toggle="tooltip" title="Git"></i>
            <i class="gitkraken fab fa-gitkraken" data-bs-toggle="tooltip" title="GitKraken"></i>
        </div>

        <div class="author pb-3"> Website developed and designed using Bootstrap and Three.js
        </div>
        <footer class="footer-contact py-4 mt-5 d-flex justify-content-center">
            <div class="d-flex flex-column flex-md-row gap-4 gap-md-5 justify-content-center align-items-center">
                <div class="datos d-flex flex-column flex-lg-row gap-lg-3">
                    <i class="bi bi-envelope">
                        <a href="mailto:matildejimenezbed@gmail.com"> Contact me by email.</a>
                    </i> <br>
                    <i class="bi bi-geo-alt text-white">
                        Madrid (28100), Spain.
                    </i>
                </div>

                <div class="iconos">
                    <span class="linkedin"> <a
                            href="https://www.linkedin.com/in/matilde-jimenez-maquetadora-web-frontend-junior/"
                            target="_blank"><i class="bi bi-linkedin"></i></a></span>
                    <span class="github"> <a href="https://github.com/matildejb" target="_blank"><i
                                class="bi bi-github "></i></a></span>
                </div>
            </div>
        </footer>
    </div>
</div>