.container {
  width: 70%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fdf3b8;
  font-weight: bolder;
}

.author {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

.datos {
  display: flex;
  flex-direction: column;
  gap: 1px;

  & a {
    color: #c73618;
  }
  & i {
    color: #c73618;
  }
}

.iconos {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

/* Styles specific to mobile devices */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .author {
    font-size: 1rem;
  }
}
