.container {
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
  
  .icon i {
    font-size: 3.5rem;
    margin: 1rem;
  }

  .angular {
    color: rgb(226, 43, 43);
  }
  .js {
    color: rgb(225, 218, 12);
  }
  .html {
    color: rgb(225, 72, 12);
  }
  .css {
    color: rgb(12, 40, 225);
  }
  .bootstrap {
    color: rgb(101, 12, 225);
  }

  .node {
    color: rgb(32, 218, 12);
  }
  .gitkraken {
    color: rgb(10, 85, 7);
  }
  .docker {
    color: rgb(12, 143, 225);
  }
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bolder;
}

.footer-contact {
  background: linear-gradient(to right, #34495e, #2c3e50);
  width: 60%;
  border-radius: 10px;
}

.footer-contact a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
  color: #027184;
}

.author {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

.iconos {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

/* Styles specific to mobile devices */
@media (max-width: 767px) {
  .container {
    .icon i {
      font-size: 2.5rem;
      margin: 0.2rem;
    }

    .author {
      font-size: 1rem;
    }

    .datos {
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      gap: 1px;

    }

    .iconos {
      font-size: 1.5rem;
    }
  }
}
