<div class="container pt-3">
    <div class="card1 text-center m-0 mt-4 mb-5  p-0 pb-4">

        <div class="icon w-75">
            <i class="angular fab fa-angular"></i>
            <i class="html fab fa-html5"></i>
            <i class="css fab fa-css3-alt"></i>
            <i class="node fab fa-node"></i>
            <i class="gitkraken fab fa-gitkraken"></i>
            <i class="js fab fa-js"></i>
            <i class="bootstrap fab fa-bootstrap"></i>
            <i class="docker fab fa-docker"></i>
            <i class="bi bi-filetype-sql text-primary"></i>
            <i class="bi bi-database text-success"></i>
            <i class="bi bi-cup-hot-fill text-danger"></i>
            <i class="bi bi-file-code text-primary"></i>
            <i class="bi bi-git"></i>
        </div>

        <div class="author pb-3"> Website developed and designed using Bootstrap and Three.js
        </div>

        <div class="datos">
            <i class="bi bi-envelope">
                <a href="mailto:matildejimenezbed@gmail.com"> Contact me by email.</a>
            </i> <br>
            <i class="bi bi-geo-alt">
                <a href="https://www.google.com/maps/place/Alcobendas,+Madrid" target="_blank">
                    Madrid (28100), Spain. </a>
            </i>
        </div>

        <div class="iconos">
            <span class="linkedin"> <a
                    href="https://www.linkedin.com/in/matilde-jimenez-maquetadora-web-frontend-junior/"
                    target="_blank"><i class="bi bi-linkedin text-primary"></i></a></span>
            <span class="github"> <a href="https://github.com/matildejb" target="_blank"><i
                        class="bi bi-github text-dark"></i></a></span>
        </div>
    </div>
</div>