.card img {
  width: 12rem; /* ancho deseado */
  height: 16rem; /* altura deseada */
  object-fit: cover; /* mantiene proporción y recorta si es necesario */
  border-radius: 10%;
  filter: brightness(1) contrast(1) saturate(1.4);
  transition: transform 0.5s ease-in-out;
}

.card {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.6); /* Sombra para darle un efecto 3D */
  font-family: "Noto Sans Georgian", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.card-text {
  font-size: 1rem;
  font-weight: 500;
}

.github-dropdown {
  position: relative;
  display: inline-block;
}

.github-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  text-align: center;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 35px;
  right: auto;
  border-radius: 10px;

  & a {
    text-decoration: none;
    border-radius: 10px;
  }
}

.github-dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.github-dropdown-content a:hover {
  background-color: #007bff;
  color: white;
}

.github-dropdown:hover .github-dropdown-content {
  display: block;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row; /* Cambiar la dirección del flexbox a fila */
    align-items: flex-start;
  }

  .card-img-container {
    width: auto;
    margin-right: 20px;
  }

  .card-body {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*Dispoitivos mobles*/
@media (max-width: 1225px) {
  .card img {
    display: none; /* ocultar la imagen */
  }
  .download {
    height: 40px;
  }
}
