<div class="about d-flex justify-content-center pb-3 mt-4">
    <div class="card d-flex flex-column-reverse flex-md-row" style="width: 90%;">
            <!-- botón que muestra CVS 
            <div class="github-dropdown d-flex justify-content-center">
                <button class="btn btn-primary download" aria-haspopup="true" aria-expanded="false">Download CV</button>
                <div class="github-dropdown-content">
                    <a href="assets/Matilde-Jimenez-CV-e.pdf" target="_blank">English
                    </a>
                    <a href="assets/Matilde-Jimenez-CV-s.pdf" target="_blank">Spanish
                    </a>
                </div>
            </div>
            -->

        <div class="card-body">
            <p class="card-text">
                A few years ago, I developed a strong interest in web development and began learning on my own. I later
                earned a
                <strong>Master’s Degree in Full-Stack Development</strong> from UNIR, and more recently, I graduated as
                a
                <strong>Higher Technician in Web Application Development (FP DAW)</strong>.

                <br><br>
                I am passionate about web development, with a strong focus on front-end technologies and a solid
                understanding of back-end processes.

                <br><br>
                <strong class="text-center d-block">🛠️ TECHNICAL SKILLS</strong><br>
                <span class="d-flex justify-content-center gap-3">
                    <p>
                        <strong>HTML, CSS, JavaScript:</strong> Proficient in building responsive and interactive web
                        pages.<br>
                        <strong>Frameworks & Libraries:</strong> Experienced with Angular 17 for creating dynamic
                        single-page applications.<br>
                        Skilled in Bootstrap and Tailwind CSS for designing modern, responsive UIs.<br><br>

                        <strong>Node.js & Express:</strong> Capable of building scalable and efficient server-side
                        applications.<br>
                        <strong>Databases:</strong> Experienced with <b>MySQL</b> and <b>MongoDB</b> for managing
                        relational and NoSQL databases.<br><br>

                        <strong>RESTful APIs:</strong> Skilled in designing and implementing RESTful services.<br>
                        <strong>Authentication & Authorization:</strong> Knowledgeable in implementing secure
                        authentication mechanisms.<br><br>

                        <strong>Deployment:</strong> Experienced in deploying applications using GitHub, Netlify, and
                        Heroku.<br><br>

                        <strong>Tools & Version Control:</strong><br>
                        <strong>Git & GitHub:</strong> Version control and collaborative workflows.<br>
                        <strong>GitKraken:</strong> Proficient in using GitKraken for streamlined Git
                        management.<br><br>

                        <strong>Additional Skills:</strong><br>
                        <strong>Digital Marketing:</strong> Certified in digital marketing with experience in WordPress
                        and SEO.<br>
                        <strong>Team Collaboration:</strong> Excellent teamwork skills; proactive, organized, and
                        adaptable.<br>
                    </p>
                    <img src="assets/IMG/image.jpeg" class="card-img-top" alt="personal-photo">
                </span>
            </p>
        </div>

    </div>
</div>