<div class="about d-flex justify-content-center pb-3">
    <div class="card" style="width: 90%;">
     <div class="d-flex flex-md-column gap-3">
        <img src="assets/IMG/image.jpeg" class="card-img-top d-block" alt="personal-photo">
        <a href="assets/CV-Matilde Jimenez.pdf" target="_blank" class="btn btn-primary download">Download CV</a>
    </div>
       
        <div class="card-body">
            <p class="card-text">
                A few years ago, I started to take an interest in this field, learning on my own, later obtained a
                Master's degree in FullStack development from UNIR. <br>
                I am passionate about web development, with a strong focus on front-end technologies and a comprehensive
                understanding
                of back-end processes.<br> <br>
                <STRONG> TECHNICAL SKILLS </STRONG> <br> <br>
                <strong>FRONT-END:</strong> <br>
                <strong>HTML, CSS, JavaScript: </strong> Proficient in building responsive and interactive web
                pages.<br>
                Frameworks & Libraries: Experienced with Angular for creating dyanmic single-page applications. <br>
                <strong>Styling:</strong>Skilled in Bootstrap & Tailwind CSS for designing modern and responsive UIs.
                <br>
                3D Graphics: Familiar with Three.js. <br><br>
                <strong>BACKEND:</strong> <br>
                <strong>Node.js & Express:</strong> Proficient in building scalable and efficient server-side
                applications. <br>
                Databases: Experienced with MySQL and MongoDB for managing relation and NoSQL databases. <br><br>
                <strong>FULLSTACK:</strong> <br>
                RESTful APIs: Capable of designing and implementing RESTful services. <br>
                Authentication & Authorization: Knowledge of implementing secure authentication mecahanism. <br>
                Deployment: Experienced in deployment applications with github, netlify, Heroku. <br><br>
                <strong>Tools & Version Control:</strong> <br>
                <strong> Git & GitHub:</strong> Proficient in version control and collaboration. <br>
                <strong> GitKraken:</strong> Skilled in using Gitkraken for streamlined Git workflows. <br>
                Testing: Knowledgeable in Jasmine, Jest. <br> <br>
                <strong>Additional Skills:</strong> <br>

                Digital Marketing: Certified in Marketing Digital using Wordpress and SEO. <br>
                Team collaboration: Excellent teamwork skills, proactive and organized <br> <br>
                Should you wish to learn more about me, feel free to download my CV.


            </p>

        </div>
    </div>
</div>