<div class="about d-flex justify-content-center pb-3 mt-4">
    <div class="card d-flex flex-column-reverse flex-md-row" style="width: 90%;">
        <div class="d-flex flex-md-column gap-3">
            <img src="assets/IMG/image.jpeg" class="card-img-top d-block" alt="personal-photo">
            <div class="github-dropdown d-flex justify-content-center">
                <button class="btn btn-primary download" aria-haspopup="true" aria-expanded="false">Download CV</button>
                <div class="github-dropdown-content">
                    <a href="assets/Matilde-Jimenez-CV-e.pdf" target="_blank">English
                        </a>
                    <a href="assets/Matilde-Jimenez-CV-s.pdf" target="_blank">Spanish
                        </a>
                </div>
            </div>
        </div>


        <div class="card-body">
            <p class="card-text">
                A few years ago, I started to take an interest in this field, learning on my own, later obtained a
                Master's degree in FullStack development from UNIR.
                I am passionate about web development, with a strong focus on front-end technologies and a comprehensive
                understanding
                of back-end processes.<br> <br>
                <STRONG>
                    <p class="text-center">TECHNICAL SKILLS</p>
                </STRONG>
                <strong>FRONT-END:</strong> <br>
                <strong>HTML, CSS, JavaScript: </strong> Proficient in building responsive and interactive web
                pages.<br>
                Frameworks & Libraries: Experienced with Angular 17 for creating dyanmic single-page applications. <br>
                Skilled in Bootstrap & Tailwind CSS for designing modern and responsive UIs.
                Familiar with Three.js (3D Graphics). <br><br>
                <strong>BACK-END:</strong> <br>
                <strong>Node.js & Express:</strong> Building scalable and efficient server-side
                applications. <br>
                Databases: Experienced with <b>MySQL</b> and <b>MongoDB</b> for managing relation and NoSQL databases.
                <br><br>
                <strong>FULLSTACK:</strong> <br>
                RESTful APIs: Capable of designing and implementing RESTful services. <br>
                Authentication & Authorization: Knowledge of implementing secure authentication mecahanism. <br>
                <b>Testing:</b> Knowledgeable in Jasmine, Jest.<br>
                <b>Deployment:</b> Experienced in deployment applications with github, netlify, Heroku. <br><br>
                <strong>Tools & Version Control:</strong> <br>
                <strong> Git & GitHub:</strong> Version control and collaboration. <br>
                <strong> GitKraken:</strong> Skilled in using Gitkraken for streamlined Git workflows. <br>
                <br>
                <strong>Additional Skills:</strong> <br>

                Digital Marketing: Certified in Marketing Digital using Wordpress and SEO. <br>
                Team collaboration: Excellent teamwork skills, proactive and organized. <br>


            </p>

        </div>
    </div>
</div>