<footer id="footer">
    <div class="datos">
        <i class="bi bi-envelope"> matildejimenezbedmarcom</i>
        <i class="bi bi-geo-alt"> Madrid</i>

        <div class="logo">
            <span class="linkedin"> <a
                    href="https://www.linkedin.com/in/matilde-jimenez-maquetadora-web-frontend-junior/"
                    target="_blank"><i class="bi bi-linkedin"></i></a></span>
            <span class="github"> <a href="https://github.com/matildejb" target="_blank"><i
                        class="bi bi-github"></i></a></span>
        </div>
    </div>
    <div class="copy"> Matilde Jiménez Bedmar</div>

</footer>
