li:hover {
  font-weight: bolder;
}

.casita:hover {
  color: #f07354bd
}

.navbar {
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
  margin: 10px 15px 0 15px;
  border: 2px solid #f07354bd;
  border-radius: 10px;
}

.navbar-brand:hover {
  font-weight: bolder;
}
