<nav class="navbar navbar-expand-lg bg-body-tertiary shadow p-0">
    <div class="container-fluid m-1">
        <a class="navbar-brand me-5" [routerLink]="['/matilde']">
           <i class="casita bi bi-house-fill fs-2"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 gap-lg-5">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about-me']">About me</a>
                </li>      
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/projects']">Projects</a>
                </li>      
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                </li>      
            </ul>    

        </div>
    </div>
</nav>