<div class="projects pb-5">

    <h2 class="projectW-title text-center m-5">These are some of my projects</h2>

    <div class="container-projects d-flex flex-wrap justify-content-center">

        <div class="card custom-card" style="width: 18rem;">
            <a class="project project-img" href="https://sharexpen.netlify.app/">
                <img src="assets/IMG/sharExpen.png" class="card-img-top" alt="Users List">
                <div class="card-body">
                    <i class="node fab fa-node"></i>
                    <i class="mysql bi bi-filetype-sql"></i>
                    <i class="angular fab fa-angular"></i>
                    <h5 class="card-text">Expenses App</h5>
                </div>
            </a>
        </div>

        <div class="card custom-card" style="width: 18rem;">
            <a class="project project-img" href="https://usuariosmatilde.netlify.app/">
                <img src="assets/IMG/userList.png" class="card-img-top" alt="Users List">
                <div class="card-body">
                    <i class="angular fab fa-angular"></i>
                    <h5 class="card-text">User list </h5>
                </div>
            </a>
        </div>

        <div class="card custom-card" style="width: 18rem;">
            <a class="project project-img" href="https://newsmatilde.netlify.app/">
                <img src="assets/IMG/newsBlog.png" class="card-img-top" alt="News">
                <div class="card-body">
                    <i class="angular fab fa-angular"></i>
                    <h5 class="card-text">News blog </h5>
                </div>
            </a>
        </div>

        <div class="card custom-card" style="width: 18rem;">
            <a class="project project-img" href="https://matildejb.github.io/ShoppingCart/">
                <img src="assets/IMG/ShoppingCart.png" class="card-img-top" alt="Shopping Cart">
                <div class="card-body">
                    <i class="js fab fa-js"></i>
                    <h5 class="card-title">Shopping Cart</h5>
                </div>
            </a>
        </div>

        <div class="card custom-card" style="width: 18rem;">
            <a class="project project-img" href="https://matildejb.github.io/store-Agoodshop/">
                <img src="assets/IMG/agoodshop.png" class="card-img-top" alt="Website Agoodshop">
                <div class="card-body">
                    <i class="html fab fa-html5"></i>
                    <i class="css fab fa-css3-alt"></i>
                    <h5 class="card-title">Agoodshop Store </h5>
                </div>
            </a>
        </div>

        <div class="card custom-card" style="width: 18rem;">
            <a class="project project-img" href="https://matildejb.github.io/pagWeb-BS5/">
                <img src="assets/IMG/pagWeb.png" class="card-img-top" alt="WebSite con BS-5">
                <div class="card-body">
                    <i class="bootstrap fab fa-bootstrap"></i>
                    <h5 class="card-title">Website</h5>
                </div>
            </a>
        </div>

        <div class="card custom-card" style="width: 18rem;">
            <a class="project" href="https://matildejb.github.io/Formulario/">
                <img src="assets/IMG/form.png" class="card-img-top" alt="form">
                <div class="card-body">
                    <i class="html fab fa-html5"></i>
                    <i class="css fab fa-css3-alt"></i>
                    <h5 class="card-title">Form</h5>
                </div>
            </a>
        </div>


    </div>

</div>