.container-projects {

  .custom-card {
  width: calc(
    50% - 1rem
  ); /* Tamaño flexible de la tarjeta con un espacio fijo */
  margin: 20px; /* Espacio entre las tarjetas */
  border: 2px solid #004a59; /* Borde más marcado */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
  transition: transform 0.3s ease;
}

.custom-card:hover {
  cursor: pointer;
  transform: translateY(-10px); /* Efecto de levantamiento al pasar el ratón */
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 15rem;
  
}

.card-body {
  margin-top: 10px;
  border-top: 2px solid #004a59;
  display: flex;
  justify-content: space-around;
}

h5 {
  text-align: center;
  
}


.angular {
  font-size: 2rem;
  color: rgb(226, 43, 43);
}
.js {
  font-size: 2rem;
  color: rgb(225, 218, 12);
}
.html {
  font-size: 2rem;
  color: rgb(225, 72, 12);
}
.css {
  font-size: 2rem;
  color: rgb(12, 40, 225);
}
.bootstrap {
  font-size: 2rem;
  color: rgb(101, 12, 225);
}

}


